.div{
    background-color:white;
    color:black;/*letters*/
    border:5px solid black;
    width:500px;
    height:300px;
    margin:100px;
    box-shadow:5px 4px 6px black;
    border-collapse: collapse;
    
    
   /* animation:bgchange 1s infinite;*/
    flex-direction:column;
    padding:10px;
    
}
